extends ../../admin
block content
  .table-responsive
    table.table.table-bordered
      thead
        tr
          th
            i.icon-user
            | 用户名
          th
            i.icon-lock
            | 密码
          th
            i.icon-flag
            | 状态
          th
            i.icon-cog
            | 操作
      tbody
        each user in users
          tr
            td #{user.username}
            td #{user.password}
            td #{user.status == 0 ? "未激活" : "激活"}
            td
              .visible-md.visible-lg.hidden-sm.hidden-xs.action-buttons
                a.green.change-status(data-id="#{user._id}", href="javascript:;")
                  i.icon-flag.bigger-130